### DATABASE SCHEMA ###
{% for db_schema in db_schemas %}
{{ db_schema }}
{% endfor %}

### USER QUESTION ###
{{ query }}

Please identify the relevant tables and columns needed to answer this question.

